{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Timmana&display=swap" rel="stylesheet">

    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Balamandiram | Gallery</title>

    <style>
        .card {
            margin-bottom: 10px;
            width: 100%;
            height: 50vh;
          
        }
        .card-img-top {
             width: 100%;
             height: 100%;
            }

            body {
              font-family: 'Timmana', sans-serif;}
    
        
    </style>
	
</head>
<body>

  <img class='img1' src="{% static 'balamandiram/logo1.png' %}" alt="" width="100" height="70">
    <h1 class="text-center">ఫోటో గ్యాలరీ - బాలమందిరం</h1>
    <div class="container">
        <div class="row">
        {% for p in posts %}
          <div class="col-sm-6 col-md-4 col-lg-3">
        
            <div class="card shadow-sm p-3 mb-5 bg-body rounded h-100" style="width: 18rem;">
                <img class="card-img-top img-fluid img-thumbnail" src="{{p.img.url}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{p.title}}</h5>
                  <!-- <p class="card-text">{{p.date}}</p> -->
                  <p class="card-text">{{p.desc}}</p>
                </div>
              </div>
            
          </div>
         {% endfor %} 
        </div>
      </div>

</body>
</html>