{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Timmana&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Mallanna&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gurajada&family=Mallanna&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<style>

.lead-txt {
  font-family: 'Mallanna', sans-serif;
  font-size: 25px;
  color: black;

}

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;

}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  /* opacity: 0.65; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("{% static 'balamandiram/5852.jpg' %}");
  height: 100%;
}

.card-title {
  font-family: 'Timmana', sans-serif;
  font-size: 25px;

}

.caption {
  position: absolute;
  left: 0;
  width: 100%;
  /* text-align: center; */

  color: #000;
}
.img1 {
  margin-left: 100px;
}
.img2 {
  margin-left: 700px;
}

.txtbox {
  background-color: rgb(181, 211, 250);
}

.head2 {
  font-family: 'Gurajada', serif;
  color: black;

}

.card {display:inline-block;}
/* .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
} */
</style>
</head>
<body>

<div class="bgimg-1 container">
  <div class="caption">
      
	<img class='img1' src="{% static 'balamandiram/logo1.png' %}" alt="" width="300" height="180">
     <img class='img2' src="{% static 'balamandiram/SLK.jpeg' %}" alt="" width="100" height="100  ">
</div>
</div>

<div class="txtbox">
<div class="container" >
  <br>
  <p style class="lead-txt">
  
    <strong>

    శ్రీమతి అంగర లక్ష్మీకాంతం ఎడ్యుకేషనల్ సొసైటీ  2011వ సంవత్సరం ఏర్పాటైంది. ట్రస్ట్ ఆధ్వర్యం లో పుస్తక ప్రచురణలు, విద్య, ఆరోగ్యం, విజ్ఞానం వంటి అంశాలపై పలు కార్యక్రమాలు నిర్వహిస్తున్న విషయం అందరికీ తెలిసిందే.
2017 అక్టోబర్ 17 ట్రస్ట్ ఆధ్వర్యంలో మాధవపట్నంలో బాలమందిరం విభాగం ఏర్పాటైంది. గత ఆరు వసంతాలు గా బాలల సర్వతో ముఖవికాసం కోసం చేపడుతున్న కార్యక్రమాలు మీ అందరి సహకారాలు, మద్దతుతో నిరాటంకంగా నిర్వహించుకోవడం గర్వకారణం. 
బాలమందిరం స్థాపనలోనూ, కార్యక్రమాల నిర్వహణలోనూ, విస్తరణలోనూ సహకరిస్తున్న అంగర వారి కుటుంబ సభ్యులు, విద్యా వేత్తలు, గ్రామ పెద్దలు, యూత్ సభ్యులు, శ్రేయోభిలాషులకు ఆరు సంవత్సరాలు ముగించుకొని బాలమందిరం ఏడవ వసంతంలోకి అడుగు పెడుతున్న సందర్భంగా అందరికీ శుభాభినందనలు.
బాలమందిరం, ట్రస్ట్ కార్యక్రమాల పురోభివృద్ధికి మీ అందరి సహాయ సహకారాలు ఇతోధికంగా వుండాలని ఆకాంక్షిస్తున్నాము. 

    </strong>


  </p>

  <p>
    <h1 class="text-center head2">బాలమందిరం కార్యక్రమాలు</h1>

    <ul class="lead-txt">
      <li>ప్రతీ ఆదివారం సాయంత్రం 4 గంటల నుండి 7 గంటల వరకు బాలల కోసం విద్య, విజ్ఞానం, వినోదం అంశాలపై  స్వచ్చందంగా నిర్వహిస్తున్న కార్యక్రమాలు విద్యావేత్తలను, ఉపాధ్యాయులను, తల్లిదండ్రులను ఎంతగానో అలరిస్తున్నాయి</li>
      <li>4 వ తరగతి నుండి ఇంటర్ వరకు విద్యార్ధినీ విద్యార్ధుల కోసం ప్రతీ ఆదివారం బాలమందిరం పలు విద్యా కార్యక్రమాలు చేపడుతోంది.</li>
      <li>2019 నవంబర్ 14వ తేది బాలల దినోత్సవం నాడు బాలల గ్రంధాలయాన్ని ఉభయ గోదావరి జిల్లాల గ్రాడ్యుయేట్  శాసన మండలి సభ్యులు శ్రీ ఇళ్ళ వెంకటేశ్వరరావు గారు ఆరంభించారు.</li>
      <li>2021 అక్టోబర్ లో బాలమందిరం కోసం సొంత భవనం ఏర్పాటు చేయడమైనది. విద్యావేత్త, దక్షిణ భారత నయీ తాలిం సమన్వయకర్త డాక్టర్ సి. ఏ. ప్రసాద్ గారు భవనాన్ని ప్రారంభించడం విశేషం.</li>
      <li>బాలల పత్రిక చిట్టి ఊహలు ప్రతీ మూడు నెలలకు త్రైమాసిక పత్రిక ప్రచురణ. </li>
      <li>కోవిడ్-19 మహమ్మారి కారణంగా విద్యారంగం ఇబ్బందులలో వున్న సందర్భంలో సైతం ఆన్ లైన్  వర్చువల్  సమావేశాలు నిర్వహణ, వాట్సాప్ గ్రూప్ (SALK Educational Trust) ద్వారా ప్రతీరోజు ఇ-బుక్స్, ఇ-కంటెంట్ అందజేయడం.</li>
      <li>వ్యక్తిత్వ వికాసం, స్పోకెన్ ఇంగ్లీష్ వంటి అంశాలపై నెలరోజుల పాటు ప్రత్యేక శిక్షణలు అందజేయుట.</li>
      <li>ప్రతీ ఏట (కరోనా కారణంగా 2020-21 మినహా) బాలమందిరం వార్షికోత్సవాల నిర్వాహణ. </li>
      <li>రాష్ట్ర, జిల్లా స్థాయి వేదికలపై బాలమందిరం విద్యార్ధినీ విద్యార్ధులచే సాంస్కృతిక కార్యక్రమాలు ప్రదర్శనలు.</li>
    </ul>
  </p>

  <p>

    <br>

    <h1 class="text-center head2">బాలమందిరం శిక్షణ అంశాలు</h1>
<br>
    <!--CARDS-->


    <div class="container">
      <div class="row">
          <div class="col">

            <div class="card h-100 " style="width: 18rem;">
              <img class="card-img-top" src="{% static 'balamandiram/home1.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">యోగా, ధ్యానం </h5>
               </div>
            </div>
              
          </div>
          <div class="col">
            <div class="card h-100" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'balamandiram/home2.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">కథలు (చదవడం, రాయడం)  </h5>
               </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'balamandiram/home3.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">పుస్తక సమీక్ష  </h5>
               </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'balamandiram/home4.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">	పద్యాలు, శ్లోకాలు, పాటలు  </h5>
               </div>
            </div>
          </div>
      </div>
  </div>
  <br>

  <div class="container">
    <div class="row">
        <div class="col">

          <div class="card h-100 " style="width: 18rem;">
            <img class="card-img-top" src="{% static 'balamandiram/home5.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">భాషా నైపుణ్యాలు </h5>
             </div>
          </div>
            
        </div>
        <div class="col">
          <div class="card h-100" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'balamandiram/home6.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">వ్యక్తిత్వ వికాసం శిక్షణ </h5>
             </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'balamandiram/home7.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">	చిత్ర లేఖనం  </h5>
             </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'balamandiram/home8.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">		ఒరిగామి (సృజనాత్మకత )  </h5>
             </div>
          </div>
        </div>
    </div>

    <br>

    <div class="container">
      <div class="row">
          <div class="col">
  
            <div class="card h-100 " style="width: 18rem;">
              <img class="card-img-top" src="{% static 'balamandiram/home9.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">సాంస్కృతిక కార్యక్రమాలు </h5>
               </div>
            </div>
              
          </div>
          <div class="col">
            <div class="card h-100" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'balamandiram/home10.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">కంప్యూటర్ విద్య  </h5>
               </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'balamandiram/home11.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">	ఆటలు </h5>
               </div>
            </div>
          </div>
  
          
      </div>


</div>






  </p>

  
</div>
<div class="text-center container" >
  <a href="{% url 'library' %}"> <button class="btn btn-outline-primary"> <h1> Digital Library </h1></button></a>
  <a href="{% url 'activities' %}"> <button class="btn btn-outline-primary"> <h1> Activities </h1></button></a>
  <a href="{% url 'gallery' %}"><button class="btn btn-outline-primary"> <h1> Gallery </h1></button></a>
</div>  
<br>
</div>



<div style="background-color: rgb(41, 40, 40); color: aliceblue; font-family: 'Mallanna', sans-serif; font-size: 24px;">
  <div class="container">
    <p>చిరునామా:</p>
    <p>అంగర గోపాలకృష్ణాచార్యులు (కృష్ణశ్రీ )</p>
    <p>కన్వీనర్ – బాలమందిరం</p>
    <p>1-448 , జమునా నగర్, మాధవపట్నం</p>
    <p>ఫోన్ : 9963163136</p>
</div>

</div>
</body>
</html>